<div class="background">
  <div class="standars">
    <img loading="lazy" src="../../../assets/Labo.jpg" alt="" />
    <div class="offset-2">
      <div class="row" style="height: 100%">
        <div class="margin">
          <div class="titulo">
            <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
            ><a> Servicios a Laboratorios</a>
          </div>
          <p>
            S & C Consultores ha desarrollado un departamento específico para el
            asesoramiento y la capacitación de los distintos tipos de
            laboratorios. Ofrecemos un servicio integral para guiar a
            laboratorios de análisis clínicos, bancos de sangre, genéticos, de
            ensayos y de calibración en la adopción de normas de gestión
            internacionales, garantizando la calidad del servicio profesional.
            Nos especializamos en la implementación en los laboratorios de los
            siguientes estándares de Calidad:
          </p>
          <ul>
            <li>✓ ISO 9001 vigente</li>
            <li>✓ ISO 15189 vigente</li>
            <li>✓ ISO 17025 vigente</li>
            <li>✓ ISO 17043 vigente</li>
            <li>✓ ISO 13485 vigente</li>
            <li>✓ ISO 14001 vigente</li>
            <li>
              ✓ MA3 Manual de Acreditación de Laboratorios de la Fundación
              Bioquímica Argentina.
            </li>
            <li>
              ✓ Manual de Acreditación ITAES. Instituto Técnico de Acreditación
              de Entidades de Salud.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
