.ab-home-view {
  
  &__background {/* 
  /* 
  background-image: url(../../../../assets/Fondo.png); */ 
  background-color: rgb(255, 255, 255);
  background-size: cover;
  height: auto;
  max-width: 100%;
  position: relative;
  margin-left: 0;
}
&__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 8rem;
  align-items: center;

  background-image: url(../../../../assets/img/navbar-menu.webp);
  background-size: cover; 
  background-position: center; 
  
  width: 100%;
  color: #ffffff;
  position: sticky;

  &-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &--icono-mail {
      height: auto;
      width: 10%;
    }
  }

  &-logo {
   width: 10rem;
  }
}



 
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'gotham-medium';
  background-color: transparent;
  border: none;
}



footer {
/*   position: fixed;
  bottom: 0; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 8rem;
  align-items: center;
  background-color: rgba(29, 37, 40, 0.8509803922);
  width: 100%;
  gap: 2rem;
}
.standars {
  margin-bottom: 0;
}

.text ul div a {
  color: white;
}

.img-footer {
  height: 2vh;
}




.cursor:hover {
  font-family: 'gotham-black';
  text-decoration: none;
}

.margin1 {
  margin-top: 5px;
  margin-bottom: 5px;
}


.columna{
  display: flex;
  flex-direction: row;
 gap: 0.5rem;
  align-items: center;
}

.title{
  color: white;
  text-transform: uppercase;
  font-size: 0.6rem;
  margin: 0;
}

.footer-class{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.navbar{
 /*  position: sticky; */
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.section {
  padding-top: 70px; }


.dropdown-menu{
  border-radius: 0;
}  /* Para mostrar el submenú al pasar el cursor sobre la opción */
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  position: absolute;
  left: auto;
  right: 100%; /* Hace que el submenú se muestre a la izquierda */
  top: 0;
}

.dropdown-menu .dropdown-submenu .dropdown-menu {
  top: 100%; /* Muestra el submenú hacia abajo si hay espacio */
  left: 0; /* Posiciona el submenú justo debajo de su elemento principal */
}

.dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  left: auto; /* Ajusta para mostrar hacia abajo */
  right: 0;
}
/* Estilo principal para mostrar el submenú */
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu {
  background-color: #5b6ff6;;
}

.dropdown-submenu .dropdown-menu {
  background-color: #00e2d4;
  border: 2px solid rgb(87, 87, 87);
}

.dropdown-submenu > .dropdown-menu {
  display: none; /* Oculto por defecto */
  position: absolute;
  left: 0;  /* Mostrar hacia abajo */
  top: 100%;
}

/* Mostrar el submenú al hacer hover */
.dropdown-submenu:hover > .dropdown-menu,
.dropdown-submenu .dropdown-menu:hover {
  display: block;
}
.dropdown-menu.show {
  display: block;
  background-color: #00e2d4;
}

/* Efecto hover y selección de color violeta */
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #5b6ff6; /* Color violeta para hover */
    color: white;
}
.dropdown-submenu.show {
  display: block;
  background-color: #00e2d4;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropdown-item.active,
.dropdown-item.selected {
    background-color: #5b6ff6; /* Color violeta para el item seleccionado */
    color: white;
}
.dropdown{
  background-color: transparent;
  border-color: transparent;
}
#dropdownMenuLink::after {
  display: none;
}
.dropdown-submenu .dropdown-item.dropdown-toggle::after {
  display: none;
}
a.dropdown-item{
  color: black;
}