<!-- Menú principal -->
<div class="ab-home-view">
  <div class="ab-home-view__background">
    <nav class="navbar navbar-expand-lg">
      <div class="ab-home-view__header">
        <img class="ab-home-view__header-logo" src="../../../assets/icons/logo_amerbis.webp" alt="AMERBIS">

        <!-- Menú en pantallas grandes -->
        <div class="ab-home-view__header-options d-none d-lg-flex">
          <div>
            <a class="cursor" (click)="navigateToSection('directors')">
              <img class="icon-textura-points" src="../assets/icons/textura-points.png" alt="">{{ "AB.HOME-OPTIONS.WE" | translate }}
            </a>
          </div>
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle cursor"
               href="#"
               role="button"
               id="dropdownMenuLink"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              <img class="icon-textura-points" src="../assets/icons/textura-points.png" alt="">{{ "AB.HOME-OPTIONS.WHAT_DO_WE_DO" | translate }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item cursor" (click)="navigateToSection('what-we-do')">- {{ "AB.OPTIONS-NAVBAR.BUSINESS-SERVICES" | translate }}</a></li>
              <li><a class="dropdown-item cursor" (click)="navigateToSection('work-with-us')">- {{ "AB.OPTIONS-NAVBAR.WORK-WITH-US" | translate }}</a></li>
            </ul>
          </div>
          <a href="https://wa.me/542475434660" target="_blank" rel="noopener noreferrer">
            <img loading="lazy" class="ab-home-view__header-options--icono-mail" 
                 src="../assets/icons/top-nav/wpp.webp" 
                 alt="icono de correo" />
        </a>
        <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=info@amerbis.com" target="_blank" rel="noopener noreferrer">
          <img loading="lazy" class="ab-home-view__header-options--icono-mail" 
               src="../assets/icons/top-nav/icon-email.webp" 
               alt="icono de correo" />
      </a>
      
      
      
          <app-langSelector></app-langSelector>
        </div>

        <!-- Botón para pantallas chicas -->
   <div   class="navbar-toggler d-lg-none" style="display: flex; align-items: center;">
  
      <app-langSelector></app-langSelector>
   
    <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasMenu"
          aria-controls="offcanvasMenu"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> </div>
        
      </div>
    </nav>

  <!-- Menú Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasMenuLabel"></h5>
    <button type="button" class="btn-close text-reset" (click)="toggleOffcanvas()" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="navigateToSectiones('directors')">
          {{ "AB.HOME-OPTIONS.WE" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateToSectiones('what-we-do')">
          {{ "AB.HOME-OPTIONS.WHAT_DO_WE_DO" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateToSectiones('work-with-us')">
          {{ "AB.OPTIONS-NAVBAR.BUSINESS-SERVICES" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateToSectiones('work-with-us')">
          {{ "AB.OPTIONS-NAVBAR.WORK-WITH-US" | translate }}
        </a>
      </li>
    </ul>
  </div>
</div>


  </div>
</div>

<!-- Secciones -->
<section id="banners">
  <app-banners class="section"></app-banners>
</section>
<section id="directors">
  <app-directors class="section"></app-directors>
</section>
<section id="what-we-do">
  <app-what-we-do class="section"></app-what-we-do>
</section>
<section id="work-with-us">
  <app-work-with-us class="section"></app-work-with-us>
</section>
<footer class="footer">

  

  <div class="columna" >
 

 <div class="title">AMERBIS</div>

    
  </div>
  <div class="columna" >
  <div class="title">CONECTAMOS</div>
    <a href="https://www.linkedin.com/company/s-y-c-consultores/"
      ><img class="img-footer" src="../assets/icono-linkedIn.png"
    />
  </a>
 
      <a href="https://www.instagram.com"

      ><img class="img-footer" src="../assets/icono-instagram.png"
    /></a> 


    <a href="https://www.instagram.com"

    ><img class="img-footer" src="../assets/icono-mail.png"
    /></a> 
    
    <a href="https://www.instagram.com"

    ><img class="img-footer" src="../assets/icono-instagram.png"
  /></a> 


  
  </div>



     <div class="columna" >
 
      <img class="img-footer" src="../assets/icono-localizacion.png" />
      <div class="title">CALLE 9 DE JULIO 456 - ROJAS</div>
         
       </div>


     <div class="columna" >
 
      <img class="img-footer" src="../assets/icono-telefono.png" />
      <div class="title">+54 9 02475 465695</div>
         
       </div>



</footer>

