<div class="ab-home-view">
<div class="ab-home-view__background"> 
  <nav class="navbar navbar-expand-lg">
  <!--   <nav class="navbar navbar-expand-lg sticky-top">  -->
    <div class="ab-home-view__header">
   
        <img  class="ab-home-view__header-logo" src="../../../assets/icons/logo_amerbis.webp" alt="AMERBIS">
    
      <div class="ab-home-view__header-options d-none d-lg-flex">
        <div>
         <!--  <a class="cursor" href="#directors">{{ "AB.HOME-OPTIONS.WE" | translate }}</a>
         -->
          <a class="cursor" (click)="navigateToSection('what-we-do')">{{ "AB.HOME-OPTIONS.WE" | translate }}</a>
        </div>
      <!--   <div>
       
          <a class="cursor" (click)="navigateToSection('work-with-us')">{{ "AB.HOME-OPTIONS.WHAT_DO_WE_DO" | translate }}</a> </div>
         -->
          
         <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle cursor" 
             href="#" 
             role="button" 
             id="dropdownMenuLink" 
             data-bs-toggle="dropdown" 
             aria-expanded="false">
              {{ "AB.HOME-OPTIONS.WHAT_DO_WE_DO" | translate }}
          </a>
      
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" (click)="navigateToSection('work-with-us')">   - {{"AB.SERVICES.TEMPORARY-STAFF.TITLE" | translate}}</a></li>
              <li><a class="dropdown-item" (click)="navigateToSection('business-services')">  - {{"AB.SERVICES.FACILITY-SERVICES.TITLE" | translate}}</a></li>
              <li><a class="dropdown-item" (click)="navigateToSection('about-us')">  - {{"AB.SERVICES.PAYROLL.TITLE" | translate}}</a></li>
              <li><a class="dropdown-item" (click)="navigateToSection('contact')">- {{"AB.SERVICES.SEARCH-SELECCTION.TITLE" | translate}}</a></li>
      
              <!-- Dropdown con submenú -->
              <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">-{{"AB.WORK-WITH-US-EE-UU.AMERBIS-EXPERIENCE.TITLE" | translate}}</a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item cursor" (click)="navigateToSection('service1')"> - {{"AB.WORK-WITH-US-EE-UU.AMERBIS-EXPERIENCE.SUBTITLE" | translate}}</a></li>
                      <li><a class="dropdown-item cursor" (click)="navigateToSection('service2')">  - {{"AB.WORK-WITH-US-EE-UU.JOB-OPPORTUNITIES.TITLE" | translate}}</a></li>
                  </ul>
              </li>
          </ul>
      </div>
         
         <div>
          <app-langSelector></app-langSelector>
        </div>
        <img
          loading="lazy"
          class="ab-home-view__header-options--icono-mail"
          src="../assets/icons/top-nav/icon-email.webp"
          alt="icono de correo"
        />
      </div>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

  </nav>
  
  <!-- Secciones -->
  <section id="directors">
    <app-directors class="section"></app-directors>
  </section>
  
  <section id="what-we-do">
    <app-what-we-do class="section"></app-what-we-do>
  </section>
  
  <section id="work-with-us">
    <app-work-with-us class="section"></app-work-with-us>
  </section>
  

      
      <!-- Menú desplegable para pantallas medianas (md) -->
<div
class="offcanvas offcanvas-end"
tabindex="-1"
id="offcanvasRight"
aria-labelledby="offcanvasRightLabel"
>
<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
  <button
    type="button"
    class="btn-close text-reset"
    data-bs-dismiss="offcanvas"
    aria-label="Close"
  ></button>
</div>
<div class="offcanvas-body">
  <ul class="navbar-nav">
 
    <li class="nav-item mx-3">
      <a
        class="nav-link"
        href="#directors"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        >{{ "AB.HOME-OPTIONS.WE" | translate }}</a
      >
    </li>
    <li class="nav-item mx-3">
      <a
        class="nav-link"
        href="#proposals"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        >{{ "AB.HOME-OPTIONS.WHAT_DO_WE_DO" | translate }}</a
      >
    </li>
    <li class="nav-item mx-3"> <app-langSelector></app-langSelector></li>
    <li class="nav-item mx-3">   <img
      loading="lazy"
      class="ab-home-view__header-options--icono-mail"
      src="../assets/icono-mail.png"
      alt=""
    /> </li>

  </ul>
 
</div>
</div>

      
      
    
</div>  
</div> 


<footer class="footer">

 

      <div class="columna" >
     

     <div class="title">AMERBIS</div>

        
      </div>
      <div class="columna" >
      <div class="title">CONECTAMOS</div>
        <a href="https://www.linkedin.com/company/s-y-c-consultores/"
          ><img class="img-footer" src="../assets/icono-linkedIn.png"
        />
      </a>
     
          <a href="https://www.instagram.com"

          ><img class="img-footer" src="../assets/icono-instagram.png"
        /></a> 


        <a href="https://www.instagram.com"

        ><img class="img-footer" src="../assets/icono-mail.png"
        /></a> 
        
        <a href="https://www.instagram.com"

        ><img class="img-footer" src="../assets/icono-instagram.png"
      /></a> 


      
      </div>

 

         <div class="columna" >
     
          <img class="img-footer" src="../assets/icono-localizacion.png" />
          <div class="title">CALLE 9 DE JULIO 456 - ROJAS</div>
             
           </div>


         <div class="columna" >
     
          <img class="img-footer" src="../assets/icono-telefono.png" />
          <div class="title">+54 9 02475 465695</div>
             
           </div>

    
  
</footer>


