.ip-company-cards {
  height: 100%;
  display: grid;
  grid-template-columns: .5fr .5fr;
  gap: 1rem;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(215, 222, 227, 0.39);
    padding: 1.5rem;
    height: 12rem;

    &-header {
      display: flex;
      justify-content: space-between;

      &-text {
        width: 70%;
        text-wrap: wrap;
        color: #2e3039;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @media (width < 768px) {
          font-size: 12px;
          font-weight: 500;
        }
      }

      &-icon {
        width: 3.5rem;
        height: 3.5rem;
        @media (width < 768px) {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }

    &-value {
      color: #668a8c;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media (width < 768px) {
        font-size: 18px;
      }
    }
    @media (width < 768px) {
      padding: 1rem;
      height: 8rem;
    }
  }
}
