<div class="ab-job-opportunities">
<div class="ab-job-opportunities__background">
    <div class="ab-job-opportunities__standars">
        <div class="ab-job-opportunities__contenedor" > 
            <div class="subtitle-primary" >
              {{"AB.WORK-WITH-US-EE-UU.JOB-OPPORTUNITIES.DESCRIPTION" | translate}}
            </div>  
            <img class="flecha" src="../../../assets/icons/AMERBIS_FELCHA.png" alt="">
 <P class="title-primary columnas">
              <span> {{"AB.WORK-WITH-US-EE-UU.JOB-OPPORTUNITIES.OPTIONS.1" | translate}}</span>
              <span> {{"AB.WORK-WITH-US-EE-UU.JOB-OPPORTUNITIES.OPTIONS.2" | translate}}</span>
              <span> {{"AB.WORK-WITH-US-EE-UU.JOB-OPPORTUNITIES.OPTIONS.3" | translate}}</span>
            </P>
        </div>
  
    </div>
  </div>
</div>