<div class="background">
    <div class="standars">

        <div class="contenedor" >
        
           <!--  <div class="titulo">
              <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
              ><a> {{"AB.WORK-WITH-US-EE-UU.JOB-OPPORTUNITIES.TITLE" | translate}}</a>
            </div> -->
            <div class="subtitle-primary w-50" >
              {{"AB.WORK-WITH-US-EE-UU.JOB-OPPORTUNITIES.DESCRIPTION" | translate}}
            </div>
            <!-- <img src="../../../assets/icons/flecha.webp" alt=""> -->
            <P class="title-primary columnas">
              <span> {{"AB.WORK-WITH-US-EE-UU.JOB-OPPORTUNITIES.OPTIONS.1" | translate}}</span>
              <span> {{"AB.WORK-WITH-US-EE-UU.JOB-OPPORTUNITIES.OPTIONS.2" | translate}}</span>
              <span> {{"AB.WORK-WITH-US-EE-UU.JOB-OPPORTUNITIES.OPTIONS.3" | translate}}</span>
            </P>
        </div>
  
    </div>
  </div>
  