
.ab-job-opportunities {
 &__standars {
  background-size: cover;
  width: auto;
  border: none;
  color: white;
  display: block;
  text-overflow: clip;
  overflow: hidden;
  padding: 1.5rem 3rem;   
  /*  height: 18rem; */
align-items: center;
display: flex;

}
&__background {
 background-color: rgb(255, 255, 255);
  background-size: cover;
  height: 100%;
  position: relative;
  margin-left: 0;
} 
&__contenedor {
  display: flex;
  gap: 1.5rem;
  }
}


p {
  font-size: large;
}

a {
  font-family: "gotham-medium";
  font-size: xx-large;
}

ul {
  list-style: none;
  font-size: large;
}



.margin {
  margin-top: 5%;
  margin-bottom: 5%;
}
.subtitle-primary {
  width: 100%;
}

// Media queries
@media (min-width: 768px) and (max-width: 1024px) {
  .ab-job-opportunities{
    &__standars {
    padding: 1.5rem;
    height: 16rem;
  }  
  }
  .title-primary {
    color: #cccccc;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 3vh;
}
.subtitle-primary {
  color: #cccccc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 20px; */
  font-size: 2.5vh;
}
.flecha{
  display: none;
}
}

@media (max-width: 768px) {
  .ab-job-opportunities{
    &__standars {
    padding: 2rem;
    height: auto;
  }
  &__contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
gap: 0.5rem;
}
&__description{
display: flex;
flex-direction: row;
justify-content: space-around;
}

.row {
  width: 100%;
}
.title-primary {
  color: #cccccc;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2vh;
}
.subtitle-primary {
color: #cccccc;
font-family: "Montserrat", sans-serif;
font-weight: 400;
/* font-size: 20px; */
font-size: 2vh;
width: 100%;
}

.flecha{
display: none;
}
}
  
}


