<div class="background">
  <div class="standars">
    <img src="../../../assets/Normas.jpg" loading="lazy" alt="" />
    <div class="offset-2">
      <div class="row" style="height: 100%">
        <div class="margin">
          <div class="titulo">
            <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
            ><a> Implementación de Normas ISO</a>
          </div>
          <!-- <i class="fas fa-chevron-right" style="color: #f5f5f5"></i>
          <h1>Implementación de Normas ISO</h1> -->
          <h2>Implementación de Normas ISO de Sistemas de Gestión</h2>
          <p>
            Colaboramos con tu organización a implementar un Sistema de Gestión
            que logre dar conformidad a los requisitos de los diversos
            estándares de Calidad, Medio ambiente, y Seguridad e Higiene
            mediante la implementación de normas ISO.
          </p>
          <div class="mt-4" style="text-overflow: ellipsis">
            <h2>Calidad ISO 9001:2015</h2>
            <p>
              Ofrecemos diagnósticos, alternativas y soluciones adaptadas a cada
              organización para una implementación integral, simple y eficaz de
              un Sistema de Gestión de la Calidad conforme a la Norma ISO
              9001:2015.
            </p>
          </div>
          <div class="mt-4">
            <h2>Gestión Ambiental ISO 14001:2015</h2>
            <p>
              Evaluamos el impacto ambiental de tus actividades y productos
              demostrando así el compromiso con un desempeño ambiental correcto
              mediante una certificación ISO 14001.
            </p>
          </div>
          <div class="mt-4">
            <h2>Gestión de Salud y Seguridad Laboral ISO 45001:2018</h2>
            <p class="lastp">
              Te ayudamos a adaptar los requisitos y pautas de la norma ISO
              45001:2018 a las particulares características de tu organización,
              considerando que siempre se necesita una solución personalizada, a
              medida.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
