<div class="background">
  <div class="standars">
    <img loading="lazy" src="../../../assets/Procesos.jpg" alt="" />
    <div class="offset-2">
      <div class="row" style="height: 100%">
        <div class="margin">
          <div class="titulo">
            <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
            ><a> Mejora de Procesos</a>
          </div>
          <p>
            Acompañamos a tu organización en la implementación de herramientas
            de mejora de sus procesos como:
          </p>
          <ul>
            <li>Kaizen</li>
            <li>Método 5S</li>
            <li>Reingeniería de procesos</li>
            <li>Kan Ban</li>
            <li>Círculos de Calidad</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
