<form novalidate [formGroup]="form" class="ip-filters" (submit)="onSubmit()">
  <h1 class="ip-filters__title">Añadir filtro</h1>
  <span
    class="ip-filters__close"
    (click)="onClose()"
    [ngStyle]="{
      'background-image': 'url(assets/img/ip-filters/close.svg)'
    }"
  ></span>

  <div class="ip-filters__range"  *ngIf="service !== 'active-contracts' && service !== 'purchaser-order'" >
    <div class="ip-filters__range-container">
      <label for="numberFrom" class="ip-filters__range-container-label" 
      >Rango del monto</label
      >
      <button 
        (click)="resetForm($event)"
        class="ip-filters__range-container-clean"
      >
        Limpar filtro
      </button>
    </div>
    <input
      class="ip-filters__range-from"
      formControlName="amountFrom"
      type="number"
      name="numberFrom"
      id=""
      placeholder="Desde"

    />
    <input
      class="ip-filters__range-to"
      formControlName="amountTo"
      type="number"
      name="numberTo"
      id=""
      placeholder="Hasta"

    />
  </div>
  <div class="ip-filters__date" *ngFor="let filter of filters">
    <label for="" class="ip-filters__date-label"
      >{{ filter[0] | translate }}</label
    >
    <div class="ip-filters__date-calendar" (click)="picker.open()">
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          formControlName="start"
          placeholder="Fecha inicial"
        />
        <input
         matEndDate 
         formControlName="end" 
         placeholder="Fecha final" />
      </mat-date-range-input>
      <span
        class="ip-filters__date-calendar-icon"
        [ngStyle]="{
          'background-image': 'url(assets/img/ip-filters/calendar.svg)'
        }"
      ></span>
      <mat-form-field>
        <mat-date-range-input class="corre">
          <input matStartDate />
          <input matEndDate />
        </mat-date-range-input>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>

  <button
    class="ip-filters__button ip-filters__button{{
      form.invalid ? '--disabled' : ''
    }}"
    [disabled]="form.invalid"
    type="submit"
  >
    Aplicar filtro
  </button>
</form>
