<div class="background">
  <div class="standars">
    <img loading="lazy" src="../../../assets/Coaching.jpg" alt="" />
    <div class="container-fluid">
      <div class="row" style="height: 100%">
        <div class="margin">
          <div class="titulo">
            <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
            ><a> Coaching Ontológico</a>
          </div>
          <p>
            El coaching ontológico es una disciplina que ayuda a las personas a
            tomar conciencia sobre qué interpretación están haciendo de su vida
            para evaluar su capacidad de acción y expandirla, para ganar una
            nueva mirada sobre su propio ser y cómo influye en el contexto.
          </p>
          <p class="lastp">
            El coaching se puede aplicar a personas, grupos de trabajo, equipos
            de deportes, a través de sesiones o reuniones que buscan la
            superación de las barreras que limitan el crecimiento y el logro de
            los objetivos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
