<div class="ab-banner">

    <div class="ab-banner__container">

        <div class="ab-banner__banner">
            <!-- Imagen en español -->
            <img *ngIf="currentLanguage.code === 'es'" 
                 class="ab-banner__banner-home" 
                 style="bottom: 10%"
                 src="../../../assets/img/banner-home.webp" 
                 alt="Banner Home en Español">
          
            <!-- Imagen en inglés -->
            <img *ngIf="currentLanguage.code === 'en'" 
                 class="ab-banner__banner-home" 
                 style="bottom: 2%"
                 src="../../../assets/img/banner-home-en.png" 
                 alt="Banner Home en Inglés">
          </div>
   
  </div>
  
  
  </div>