<div class="ab-directors">

    <div class="ab-directors__container">

        <div class="ab-directors__banner">
            <!-- Imagen en español -->
            <img *ngIf="currentLanguage.code === 'es'" 
                 class="ab-directors__banner-home" 
                 style="bottom: 10%"
                 src="../../../assets/img/banner-home.webp" 
                 alt="Banner Home en Español">
          
            <!-- Imagen en inglés -->
            <img *ngIf="currentLanguage.code === 'en'" 
                 class="ab-directors__banner-home" 
                 style="bottom: 2%"
                 src="../../../assets/img/banner-home-en.png" 
                 alt="Banner Home en Inglés">
          </div>
    <!--   <div class="ab-directors__banner">
          <img class="ab-directors__banner-home" src="../../../assets/img/banner-home.webp" alt="Banner Home">
      </div> -->
  <!--     <div class="ab-directors__banner-options">
          <button class="btn btn-primary btn-1">{{"AB.OPTIONS-NAVBAR.WORK-WITH-US" | translate}}</button>
          <button class="btn btn-secondary btn-2">{{"AB.OPTIONS-NAVBAR.BUSINESS-SERVICES" | translate}}</button>
      </div> -->
  </div>
  
  
  </div>