<div class="background">
  <div class="standars">
  <!--   <img loading="lazy" src="../../../assets/Labo.jpg" alt="" /> -->
    <div class="offset-2">
      <div class="row" style="height: 100%">
        <div class="margin">
          <div class="titulo">
            <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
            ><a> {{"AB.SERVICES.FACILITY-SERVICES.TITLE" | translate}}</a>
          </div>
          <p>
            {{"AB.SERVICES.FACILITY-SERVICES.DESCRIPTION" | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
