<div class="background">
  <div class="standars">
    <div class="row offset-2">
      <h1 style="margin-bottom: 2%">COMO PODEMOS AYUDARTE</h1>
      <div>
        <h4>Estrategia de trabajo</h4>
        <p style="text-align: justify">
          Siguiendo la metodología Project Management, ofrecemos evaluaciones
          periódicas sobre el grado de avance del proyecto acordado para
          implementar las mejoras en la organización.
        </p>
      </div>
      <div>
        <h4>Equipo de trabajo</h4>
        <p style="text-align: justify">
          Somos un equipo de consultores altamente capacitados, con una amplia
          experiencia en capacitación y docencia en temas vinculados a la
          Calidad y a la Seguridad e Higiene en el trabajo.
        </p>
      </div>
      <div>
        <h4>Proyectos a medida</h4>
        <p style="text-align: justify">
          Somos una consultora con capacidad de adaptación a los cambios
          continuos que se requieren en estos tiempos, y que se retroalimenta
          con los aportes de cada parte interesada en el desarrollo del
          proyecto.
        </p>
      </div>
    </div>
  </div>
</div>
