.ip-income-card {
  background-color: #fff;
  padding: 1.75rem;
  border-radius: 0.625rem;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
  &__title {
    &-text {
      color: #11263c;
      font-family: "Inter";
      font-weight: 500;
      line-height: 1.75rem; /* 175% */
    }
    &-ico {
      margin-left: 0.62rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__income {
    margin-top: 1.75rem;
    margin-bottom: 0.75rem;
    &-value {
      color: #11263c;
      text-align: center;
      font-family: "Inter";
      font-size: 1.875rem;
      font-weight: 700;
      line-height: 2.875rem;
    }
  }
  &__limit {
    &-text {
      color: #d0d1d2;
      font-family: "Inter";
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
    &-bar {
      border-radius: 6.25rem;
      background-color: rgba(51, 163, 170, 0.21);
      &-fill {
        background-color: rgba(51, 163, 170, 1);
      }
    }
  }
  &__indicators {
    margin-top: 2.69rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    &-limit {
      display: flex;
      align-items: center;
      gap: 0.94rem;
      &-value {
        color: #11263c;
        text-align: center;
        font-family: Inter;
        font-size: 1.25rem;
        font-weight: 600;
      }
      &-today {
        color: #d0d1d2;
        font-family: "Inter";
        font-size: 0.875rem;
      }
    }
  }
}
