<div class="ab-amerbis-experience">
<div class="ab-amerbis-experience__background">
    <div class="ab-amerbis-experience__standars">
      <div class="row">   <div class="title-primary"> {{"AB.WORK-WITH-US-EE-UU.AMERBIS-EXPERIENCE.SUBTITLE" | translate}}</div>
</div>
<div class="ab-amerbis-experience__description">
        <span class="subtitle-primary "> 
          {{"AB.WORK-WITH-US-EE-UU.AMERBIS-EXPERIENCE.DESCRIPTION" | translate}}
        </span>
        <img class="flecha" src="../../../assets/icons/AMERBIS_FELCHA.png" alt="">
        <span class="title-primary ">  
          {{"AB.WORK-WITH-US-EE-UU.AMERBIS-EXPERIENCE.TEXT-DESTACTED" | translate}}
        </span>
    </div>     
  </div>
</div>
  </div>
  