<div class="background">
    <div class="standars">
    <!--   <img loading="lazy" src="../../../assets/Labo.jpg" alt="" /> -->
      <div class="container-fluid">
        <div class="row contened" >
             
        <div class="title-primary"> {{"AB.WORK-WITH-US-EE-UU.AMERBIS-EXPERIENCE.SUBTITLE" | translate}}</div>
            
            <p class="subtitle-primary">
              {{"AB.WORK-WITH-US-EE-UU.AMERBIS-EXPERIENCE.DESCRIPTION" | translate}}
            </p>
          </div>
        </div>
    </div>
  </div>
  