.background {
/*     /* 
  background-image: url(../../../../assets/Fondo.png); */ 
  background-color: rgb(255, 255, 255);
  background-size: cover;
  position: relative;
  margin-left: 0;
}

.standars {
  background-color: rgb(72, 163, 182, 0.7);
  background-size: cover;
  width: auto;
  border: none;
  color: white;
  display: block;
  text-overflow: clip;
  overflow: hidden;
  margin-bottom: 0;
}

.row {
  height: 50vh;
  margin-right: 0;
}
.flecha {
  margin-top: 2%;
  width: 10%;
}

img {
  max-width: 30%;
  height: auto;
  padding: 0;
}

.text ul div a {
  color: white;
  font-size: large;
  text-decoration: none;
}

h1 {
  font-family: 'gotham-bold';
  margin-top: 5%;
}

ul {
  padding: 0;
  margin-bottom: 5%;
}

.cursor:hover {
  font-family: 'gotham-bold';
  text-decoration: none;
}


