<div class="background">
  <div class="standars">
    <div class="row justify-content-between">
      <div
        class="col-auto justify-content-center align-self-center offset-2 of text"
      >
        <h1>NUESTROS SERVICIOS</h1>
        <ul>
          <div>
            <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
            ><a class="cursor" href="#IsoStandars">
              Implementación de Normas ISO</a
            >
          </div>

          <div>
            <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
            ><a class="cursor" href="#laboratory"> Servicios a Laboratorios</a>
          </div>

          <div>
            <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
            ><a class="cursor" href="#processimprovement">
              Mejora de procesos</a
            >
          </div>

          <div>
            <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
            ><a class="cursor" href="#training">
              Capacitación y entrenamiento</a
            >
          </div>

          <div>
            <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
            ><a class="cursor" href="#internalAudits"> Auditorías internas</a>
          </div>

          <div>
            <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
            ><a class="cursor" href="#ontologicalCoaching">
              Coaching Ontológico
            </a>
          </div>
        </ul>
      </div>
      <img
        loading="lazy"
        class="img-fluid"
        src="../../../assets/Servicios.jpg"
        alt=""
      />
    </div>
  </div>
</div>
