<div class="background">
  <div class="standars">
    <img loading="lazy" src="../../../assets/Capacitaciones.jpg" alt="" />

    <div class="offset-2">
      <div class="row" style="height: 100%">
        <div class="margin">
          <div class="titulo">
            <i class="fas fa-chevron-right" style="color: #f5f5f5"></i
            ><a> Capacitaciones y entrenamientos</a>
          </div>
          <p>Potencia las habilidades de tu equipo.</p>
          <p>
            Diseñamos programas para empresas que quieren dar un salto
            cualitativo con sus equipos.
          </p>
          <p>
            Profesionalizamos tus mandos medios agregando valor en cada
            capacitación.
          </p>
          <p class="cap">
            Brindamos capacitaciones In-company y a distancia, sincrónicas y
            asincrónicas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
