<div class="langSelector">
  <button mat-button extended [matMenuTriggerFor]="menu" color="primary">
    <div class="langSelector__text-color">
      <img [src]="selectedLang.img" alt="Lang" class="lang" />
 <!--      <span class="ms-1">{{ selectedLang.label | translate }}</span> -->
     <!--  <i>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="17"
          viewBox="0 0 216 384"
        >
          <path fill="currentColor" d="M0 139h213L107 245z" />
        </svg>
      </i> -->
    </div>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let lang of langs"
      (click)="selectLang(lang.code)"
      style="padding: 0; margin: 0; width: auto; display: flex; align-items: center; justify-content: center;"
    >
      <img [src]="lang.img" alt="{{ lang.label }}" class="lang">
    </button>
  </mat-menu>
</div>