

.standars {
  /* 
    background-color: rgb(72, 163, 182, 0.7); */
  background-size: cover;
  width: auto;
  border: none;
  color: white;
  display: block;
  text-overflow: clip;
  overflow: hidden;/* 
  padding: 0 !important ; */
  padding: 2rem 3rem;   
  /*  height: 18rem; */
align-items: center;
display: flex;

}
.background {
    /* 
  background-image: url(../../../../assets/Fondo.png); */
  background-color: rgb(255, 255, 255);
  background-size: cover;
  height: 100%;
  position: relative;
  margin-left: 0;
}

p {
  font-size: large;
}

a {
  font-family: "gotham-medium";
  font-size: xx-large;
}

ul {
  list-style: none;
  font-size: large;
}



.margin {
  margin-top: 5%;
  margin-bottom: 5%;
}

// Media queries
@media (min-width: 768px) and (max-width: 1024px) {
  .standars {
    padding: 1.5rem;
    height: 16rem;
  }  .title-primary {
    color: #cccccc;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 3vh;
}
.subtitle-primary {
  color: #cccccc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 20px; */
  font-size: 2.5vh;
}
}

@media (max-width: 768px) {
  .standars {
    padding: 2rem;
    height: auto;
  }
  .row {
    width: 100%;
  }
  .title-primary {
    color: #cccccc;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2vh;
}
.subtitle-primary {
  color: #cccccc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 20px; */
  font-size: 2vh;
}
}
