<div class="background">
  <div class="standars">
  <!--   <img loading="lazy" src="../../../assets/Labo.jpg" alt="" /> -->
    <div class="container-fluid">
      <div class="row" style="height: 100%">
        <div class="margin">
          <div class="title-primary">
          {{"AB.SERVICES.PAYROLL.TITLE" | translate}}
          </div>
          <p class="subtitle-primary">
            {{"AB.SERVICES.PAYROLL.DESCRIPTION" | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
