// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$amerbis-primary: mat.define-palette(mat.$indigo-palette);
$amerbis-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$amerbis-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$amerbis-theme: mat.define-light-theme(
  (
    color: (
      primary: $amerbis-primary,
      accent: $amerbis-accent,
      warn: $amerbis-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($amerbis-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, Roboto, "Helvetica Neue", sans-serif;
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 2rem !important;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/* FADE ANIMATION */

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c3c3c3;
  border-radius: 20px;
}

@media (width < 1024px) {
  *::-webkit-scrollbar {
    width: 0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
  }
}

.mat-calendar-period-button {
  pointer-events: none;
}
.mat-calendar-arrow {
  display: none !important;
}

.mat-calendar-body-cell {
  &-content {
    &:hover {
      background: var(--loginButtonBackgroundColor);
      opacity: 0.8;
      color: #fff;
    }
    &.mat-focus-indicator {
      background: #fff !important;
      &:hover {
        background-color: var(--loginButtonBackgroundColor) !important;
      }
    }

    &.mat-calendar-body {
      &-selected {
        background-color: var(--loginButtonBackgroundColor) !important;

        &:hover {
          background-color: var(--loginButtonBackgroundColor) !important;
          opacity: 0.8;
        }
      }
    }
  }
}
.mat-datepicker-content {
  .mat-calendar {
    width: 15rem !important;
    height: 100% !important;
  }
}
