// Importación de Angular Material (Debe ir primero)
@use "@angular/material" as mat;

// Importación de fuentes de Google
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// Definición de paletas de colores de Angular Material
$amerbis-primary: mat.define-palette(mat.$indigo-palette);
$amerbis-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$amerbis-warn: mat.define-palette(mat.$red-palette);

// Definición del tema basado en las paletas
$amerbis-theme: mat.define-light-theme(
  (
    color: (
      primary: $amerbis-primary,
      accent: $amerbis-accent,
      warn: $amerbis-warn,
    ),
  )
);

// Aplicación del tema a todos los componentes de Angular Material
@include mat.core();
@include mat.all-component-themes($amerbis-theme);

// FUENTES PERSONALIZADAS
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

// Estilos globales
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  padding: 10px 20px !important;
  color: white !important;
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer !important;
  font-size: 16px !important;
  text-transform: uppercase;
}

// Animación de desvanecimiento
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

// Personalización de la barra de desplazamiento
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c3c3c3;
  border-radius: 20px;
}

@media (width < 1024px) {
  *::-webkit-scrollbar {
    width: 0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
p{
  margin: 0;
}

.title-primary {
color:#cccccc;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; /* SemiBold */
  font-size: 30px; /* Tamaño de fuente */
}
.subtitle-primary{
  color:#cccccc;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 20px; /* Tamaño de fuente */
}

.title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; /* SemiBold */
  font-size: 60px; /* Tamaño de fuente */
}
.subtitle-on{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; /* Bold */
  font-size: 78px; /* Tamaño de fuente */
}
.subtitle-off{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; /* SemiBold */
  font-size: 78px; /* Tamaño de fuente */
}
.cursor{
  cursor: pointer;
}

.contenedor {
  display: flex;
  justify-content: center;
flex-direction: row;
padding: 3rem;
}
.columnas{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}