<div class="ab-directors">

  <div class="ab-directors__container">
    <div class="ab-directors__banner">
        <img class="ab-directors__banner-home" src="../../../assets/img/banner-home.webp" alt="Banner Home">
    </div>
    <div class="ab-directors__banner-options">
        <button class="btn btn-primary btn-1">{{"AB.OPTIONS-NAVBAR.WORK-WITH-US" | translate}}</button>
        <button class="btn btn-secondary btn-2">{{"AB.OPTIONS-NAVBAR.BUSINESS-SERVICES" | translate}}</button>
    </div>
</div>


  <div class="ab-directors__standars">
    <div
      class="ab-directors__body"
    >
    
        <p class="ab-directors__body-text">
      <span class="ab-directors__body-text--title">    {{"AB.WE.WE" | translate}}
      </span>
  <span class="ab-directors__body-text--subtitle">  {{"AB.WE.WHO-WE-ARE" | translate}}</span>
    <span class="ab-directors__body-text--description">{{"AB.WE.DESCRIPTION" | translate}} 
    </span>  
  </p>

      <img class="ab-directors__body-image"  loading="lazy" src="../../../assets/img/we-shake-hands.webp" alt="" />
    
    </div>

  </div>
    <div class="ab-directors__descriptions">
    
      <div class="ab-directors__descriptions-text">
        <div class="title-primary">  {{"AB.WE.OPTIONS.PURPOSE.TITLE" | translate}}</div>
        <div class="subtitle-primary">{{"AB.WE.OPTIONS.PURPOSE.DESCRIPTION" | translate}}</div> </div>
        <div class="ab-directors__descriptions-text">
          <div class="title-primary">{{"AB.WE.OPTIONS.PRIORITY.TITLE" | translate}}</div>
          <div class="subtitle-primary">{{"AB.WE.OPTIONS.PRIORITY.DESCRIPTION" | translate}}</div> </div>
          <img class="flecha" src="../../../assets/icons/AMERBIS_FELCHA.png" alt="">
          <div class="ab-directors__descriptions-text">
            <div class="title-primary"> {{"AB.WE.OPTIONS.DESCRIPTION.TITLE" | translate}}</div> </div>
 
  </div>

 



</div>